/* Styles for __________ */
/*******************************************************************************/
/* Site colors */
/* Imports */
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #00275d;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #00275d;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* Links */
/* CI Colors */
/* Grays */
/* Typography */
/* Buttons */
/* Input placeholder text color */
/* Hr border color */
/* GLOBAL VALUES */
/* Z-index master list */
/* Rounded Corners */
/* Gradients */
/* Gradients */
/* Text Shadow */
/* Box Shadow */
/* Transition */
/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.row .onecol {
  width: 4.85%;
}
.row .twocol {
  width: 13.45%;
}
.row .threecol {
  width: 22.05%;
}
.row .fourcol {
  width: 30.75%;
}
.row .fivecol {
  width: 39.45%;
}
.row .sixcol {
  width: 48%;
}
.row .sevencol {
  width: 56.75%;
}
.row .eightcol {
  width: 65.4%;
}
.row .ninecol {
  width: 74.05%;
}
.row .tencol {
  width: 82.7%;
}
.row .elevencol {
  width: 91.35%;
}
.row .twelvecol {
  width: 100%;
  float: left;
}
.last {
  margin-right: 0px;
}
img,
object,
embed {
  max-width: 100%;
}
/* ==========================================================================
   Media Queries! Shrink stuff better.
   ========================================================================== */
/* Smaller screens */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 768px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  .row,
  body,
  .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row .onecol,
  .row .twocol,
  .row .threecol,
  .row .fourcol,
  .row .fivecol,
  .row .sixcol,
  .row .sevencol,
  .row .eightcol,
  .row .ninecol,
  .row .tencol,
  .row .elevencol,
  .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Mobile Smaller */
@media handheld, only screen and (max-width: 480px) {
  
}
/* Typography */
body {
  font-family: Helvetica;
  font-size: 0.875em;
  line-height: 1.5em;
  color: #424151;
}
a {
  color: #0000ff;
  -webkit-transition: 0.2s linear 0.2s linear;
  -moz-transition: 0.2s linear 0.2s linear;
  -o-transition: 0.2s linear 0.2s linear;
  transition: 0.2s linear 0.2s linear;
  text-decoration: none;
}
a:visited {
  color: #0000ff;
}
a:hover,
a:focus {
  color: #3333ff;
  text-decoration: none;
}
a:active {
  color: #0000cc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-weight: bold;
  color: #424151;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1 {
  font-size: 1.53125em;
  line-height: 0.9795918367346939em;
  margin: 0.6530612244897959em 0;
}
h2 {
  font-size: 1.1484375em;
  line-height: 1.3061224489795917em;
  margin: 1.3061224489795917em 0 0;
}
h3 {
  font-size: 0.984375em;
  line-height: 1.5238095238095237em;
  font-weight: 700;
  margin: 1.5238095238095237em 0 0.38095238095238093em;
}
h4 {
  margin: 0;
  font-weight: 700;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p,
ul,
ol {
  margin: 0.75em 0;
}
/* Forms */
form .fourcol,
form .eightcol,
form .twelvecol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
form label {
  font-weight: bold;
  color: #424151;
}
form input,
form textarea {
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #d1d1d1;
  padding: 0.5em 0;
}
form input[type="number"],
form textarea[type="number"],
form input[type="checkbox"],
form textarea[type="checkbox"],
form input[type="radio"],
form textarea[type="radio"],
form input[type="submit"],
form textarea[type="submit"] {
  width: auto;
}
form input[type="file"],
form textarea[type="file"] {
  border: none;
}
form input[type="submit"],
form textarea[type="submit"] {
  background: #99cc00;
  float: right;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #99cc00;
  background-image: -moz-linear-gradient(top, rgba(153, 204, 0, 0), rgba(115, 153, 0, 0.5) 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153, 204, 0, 0)), color-stop(100%, rgba(115, 153, 0, 0.5)));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, rgba(153, 204, 0, 0) 0%, rgba(115, 153, 0, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, rgba(153, 204, 0, 0) 0%, rgba(115, 153, 0, 0.5) 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, rgba(153, 204, 0, 0) 0%, rgba(115, 153, 0, 0.5) 100%);
  /* IE10+ */

  background-image: linear-gradient(top, rgba(153, 204, 0, 0) 0%, rgba(115, 153, 0, 0.5) 100%);
  /* W3C */

  -webkit-text-shadow: #000000;
  -moz-text-shadow: #000000;
  text-shadow: #000000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.75em;
  margin: 0 2px 4px;
  color: #fff;
  font-weight: bold;
  border: 0;
  text-decoration: none;
}
form input[type="submit"]:hover,
form textarea[type="submit"]:hover,
form input[type="submit"]:focus,
form textarea[type="submit"]:focus {
  -webkit-box-shadow: inset 0 2px 3px #739900;
  -moz-box-shadow: inset 0 2px 3px #739900;
  box-shadow: inset 0 2px 3px #739900;
}
/* Layout */
header h1 {
  float: left;
}
header .welcome {
  float: left;
  font-size: 0.75em;
  margin: 2.625em 0 0 0.5em;
}
header nav {
  float: right;
  margin-top: 2.25em;
}
header nav ul li {
  float: left;
  padding: 0 0.5em;
  border: 1px solid #888;
  border-style: none none none solid;
  line-height: 0.75em;
}
header nav ul li:first-child {
  border: none;
}
header nav ul li a {
  font-size: 0.75em;
  font-weight: bold;
  color: #424151;
}
header nav ul li a:visited {
  color: #424151;
}
header nav ul li a:hover,
header nav ul li a:focus {
  color: #99cc00;
}
header nav ul li a:active {
  color: #739900;
}
/* Seller Profile */
.cover {
  padding: 2px;
  position: relative;
}
.cover .cover-img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.cover .avatar {
  display: block;
  position: relative;
  margin-top: -120px;
  left: 20px;
  padding: 10px;
  background: white;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.cover .avatar img {
  display: block;
}
.cover nav ul {
  float: right;
  margin-top: 1em;
}
.cover nav ul li {
  float: left;
  margin-left: 1em;
}
.cover nav ul li a {
  display: block;
  padding: 1em 2em 0.25em 0.5em;
  background: #d1d1d1;
  color: #424151;
}
.cover nav ul li a:hover,
.cover nav ul li a:focus {
  background: #99cc00;
  color: #263300;
}
.cover nav ul li.current a {
  background: transparent;
  text-decoration: underline;
}
.haggling-settings {
  width: 99%;
  background: #f0f0f0;
  float: left;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0.5em 0.5% 1.5em;
}
.haggling-settings h3 {
  margin: 0;
}
.block {
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin-top: 0.75em;
}
.block h2 {
  font-weight: normal;
  margin: 0;
  padding: 5px 10px;
  background: #ebebeb;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 1px solid #d1d1d1;
}
.block h3 {
  font-weight: normal;
  margin: 0;
  padding: 5px 10px;
  background: #f2f2f2;
  border-bottom: 1px solid #d1d1d1;
}
.block .fourcol,
.block .eightcol,
.block .twelvecol {
  padding: 10px;
}
.haggle {
  float: left;
  width: 100%;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, rgba(247, 247, 247, 0), rgba(209, 209, 209, 0.5) 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 247, 247, 0)), color-stop(100%, rgba(209, 209, 209, 0.5)));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, rgba(247, 247, 247, 0) 0%, rgba(209, 209, 209, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, rgba(247, 247, 247, 0) 0%, rgba(209, 209, 209, 0.5) 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, rgba(247, 247, 247, 0) 0%, rgba(209, 209, 209, 0.5) 100%);
  /* IE10+ */

  background-image: linear-gradient(top, rgba(247, 247, 247, 0) 0%, rgba(209, 209, 209, 0.5) 100%);
  /* W3C */

  position: relative;
}
.haggle .haggles-reamining {
  position: relative;
}
.haggle .haggles-remaining {
  width: 20%;
  float: left;
  background: #dedede;
  min-height: 100%;
}
.haggle .bid-box {
  width: 50%;
  float: left;
}
.haggle .time {
  width: 30%;
  float: left;
  background: black;
  color: white;
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.right {
  float: right;
}
.overflow {
  overflow: visible;
}
.relative {
  position: relative;
}
.resetter {
  margin: 0;
  padding: 0;
}
.break {
  clear: both;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
nav.inline ul li {
  display: inline-block;
}
/* Mobile/Desktop classes */
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
