/* Styles for __________ */
/*******************************************************************************/

/* Site colors */

/* Imports */
@import "normalize.less";
@import "variables.less";
@import "1140.less";

/* Typography */

body {
font-family: Helvetica;
font-size: @baseFontSize;
line-height: @baseLineHeight;
color: @textColor;
}

a {
color: @linkColor;
.transition (0.2s linear);
text-decoration: none;
	
	&:visited {
		color: @linkColor;
	}
	
	&:hover, &:focus {
	color: lighten(@linkColor, 10%);
	text-decoration: none;
	}
	
	&:active {
		color: darken(@linkColor, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-weight: bold;
	color: @headerColor;

	a {
		text-decoration: none;
	}

}

h1 {
	font-size: @baseFontSize * 1.75;
	line-height: @baseLineHeight / (@baseFontSize * 1.75);
	margin: ((@baseLineHeight / (@baseFontSize * 1.3125))/2) 0;
}

h2 {
	font-size: @baseFontSize * 1.3125;
	line-height: @baseLineHeight / (@baseFontSize * 1.3125);
	margin: (@baseLineHeight / (@baseFontSize * 1.3125)) 0 0;
}

h3 {
	font-size: @baseFontSize * 1.125;
	line-height: @baseLineHeight / (@baseFontSize * 1.125);
	font-weight: 700;
	margin: (@baseLineHeight / (@baseFontSize * 1.125)) 0 (@baseLineHeight / (@baseFontSize * 1.125)) / 4;
}

h4 {
	margin: 0;
	font-weight: 700;
}

h5 {
	margin: 0;
}

h6 {
	margin: 0;
}

p, ul, ol {
	margin: (@baseLineHeight/2) 0;
}

em {}

blockquote {}

/* Forms */

form {

	.fourcol,
	.eightcol,
	.twelvecol {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

label {
	font-weight: bold;
	color: @textColor;
}

input,
textarea {
	width: 100%;
	.box-shadow(none);
	-webkit-appearance: none;
	border: 1px solid @grayLight;
	padding: 0.5em 0;

	&[type="number"],
	&[type="checkbox"],
	&[type="radio"],
	&[type="submit"] {
		width: auto;
	}

	&[type="file"] {
		border: none;
	}

	&[type="submit"] {
		background: @green;
		float: right;
		.buttonBase(@green);

		&.orange {
			.buttonBase(@orange);
			color: @textColor;
		}
	}
}

/* Layout */

header {

	h1 {
		float: left;
	}

	.welcome {
		float: left;
		font-size: 0.75em;
		margin: 2.625em 0 0 0.5em;
	}

	nav {
		float: right;
		margin-top: 2.25em;

		ul {
			li {
				float: left;
				padding: 0 0.5em;
				border: 1px solid #888;
				border-style: none none none solid;
				line-height: 0.75em;

				&:first-child {
					border: none;
				}

				a {
					font-size: 0.75em;
					font-weight: bold;
					color: @textColor;

					&:visited {
						color: @textColor;
					}

					&:hover,
					&:focus {
						color: @green;
					}

					&:active {
						color: darken(@green, 10%);
					}
				}
			}
		}
	}
}

/* Seller Profile */

.cover {
	padding: 2px;
	position: relative;

	.cover-img {
		.rounded(8px);
		.box-shadow(0 2px 6px rgba(0,0,0,0.25));
	}

	.avatar {
		display: block;
		position: relative;
		margin-top: -120px;
		left: 20px;
		padding: 10px;
		background: white;
		float: left;
		.rounded(8px);
		.box-shadow(0 1px 2px rgba(0,0,0,0.25));

		img {
			display: block;
		}
	}

	nav {
		ul {
			float: right;
			margin-top: 1em;

			li {
				float: left;
				margin-left: 1em;

				a {
					display: block;
					padding: 1em 2em 0.25em 0.5em;
					background: @grayLight;
					color: @textColor;

					&:hover,
					&:focus {
						background: @green;
						color: darken(@green, 30%);
					}
				}

				&.current {

					a {
						background: transparent;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.haggling-settings {
	width: 99%;
	background: lighten(@grayLight, 12%);
	float: left;
	padding: 10px;
	.rounded(8px);
	.box-shadow(0 2px 4px rgba(0,0,0,0.2));
	margin: 0.5em 0.5% 1.5em;

	h3 {
		margin: 0;
	}
}

.block {
	border: 1px solid @grayLight;
	.rounded(8px);
	margin-top: 0.75em;

	h2 {
		font-weight: normal;
		margin: 0;
		padding: 5px 10px;
		background: lighten(@grayLight, 10%);
		.rounded(8px 8px 0 0);
		border-bottom: 1px solid @grayLight;
	}

	h3 {
		font-weight: normal;
		margin: 0;
		padding: 5px 10px;
		background: lighten(@grayLight, 13%);
		border-bottom: 1px solid @grayLight;
	}

	.fourcol,
	.eightcol,
	.twelvecol {
		padding: 10px;
	}
}

.product-img,
.seller-info {
	.rounded(8px);
	.box-shadow(0 2px 6px rgba(0,0,0,0.25));
}

.seller-info {
	h3 {
		padding: 10px;
	}
}

.haggle {
	float: left;
	width: 100%;
	.gradient(lighten(@grayLight, 15%), @grayLight);
	position: relative;

	.haggles-reamining,
	.bid-box,
	.time {
		position: relative;
	} 

	.haggles-remaining {
		width: 20%;
		float: left;
		background: #8c8c8c;
		min-height: 100%;
		color: white;
		font-size: 1.25em;
		text-align: center;
		padding-top: 3.25em;

		strong {
			font-size: 3em;
			margin-bottom: 0.5em;
			display: block;
		}

		* {
			padding: 10px;
		}
	}

	.bid-box {
		width: 50%;
		float: left;
		padding: 10px;
		color: @gray;

		input {
			&[type="text"] {
				max-width: 5em;
			}
		}

		span {
			color: black;
			font-size: 1.25em;
		}
	}

	.time {
		width: 30%;
		float: right;
		background: black;
		color: white;
		padding: 10px;
		font-size: 1.25em;
		text-align: center;

		h2 {
			color: white;
			margin: 0 0 0.5em;
			font-size: 2em;
			font-weight: normal;
		}

		span {
			font-size: 4em;
		}
	}

}

	.haggle-message {
		background-color: @red;
		color: white;
		display: block;
		padding: 0 10px;
		overflow: hidden;
		.gradient(@red, darken(@red, 5%));
	}












@import "helpers.less";
@import "print.less";
@import "respond.less";
