<script src='/js/haggle.js'></script>
<div id="product">
	<div class="fourcol">
		<div class="product-img">
			<img src="/img/product.jpg" alt=""/>
		</div>

		<div class="seller-info">
			<h3>Seller Information</h3>
			<img src="/img/seller-info.jpg" alt=""/>
		</div>
	</div>

	<div class="eightcol last">

		<h2>Brand New iPhone 5</h2>
		<h3>Authorized dealer - Free Shipping - Warranty!</h3>
		<p>Item condition: Super fantastic</p>
		<p>Quantity: <input type="number" name="quantity"/> 7 available / <span>3 being haggled upon</span></p>

		<div class="haggle">
			<div class="haggles-remaining">
				<p>Haggles remaining</p>
				<strong>3</strong>
			</div>

			<div class="bid-box">
				<p>price <span>$5199,99</span> <input type="submit" value="Buy it now" class="orange"/></p>
				<p>or</p>
				<p><input type="text" id='haggle-input' name="haggle-bid"/> <input type="submit" value="Haggle"/>
			</div>

			<div class="time">
				<p>Time left to haggle</p>
				<hr/>
				<h2>Time</h2>
				<span class="count">30</span>
			</div>

		</div>

		<div class="haggle-message">
			<p id="message"></p>
		</div>

	</div>
</div>
