<div id="register">
	<div class="facebook fivecol">
		<a href="">Connect via Facebook</a>
	</div>
	<div class="twocol">
		<p>or</p>
	</div>
	<div class="new-user fivecol last">
		<form method="post" action="/type.html">
			<label for="email">Email</label>
			<input id="email" type="email" />
			<label for="password">Password</label>
			<input id="password" type="password" />
			<label for="confirm-password">Confirm password</label>
			<input id="confirm-password" type="password" />
			<label for="newsletter"><input type="checkbox" /> Opt in to our newsletter</label>
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>