<div id="register">
	<div class="facebook fivecol">
		<a href="">Connect via Facebook</a>
	</div>
	<div class="twocol">
		<p>or</p>
	</div>
	<div class="new-user fivecol last">
		<form method="get" action="/profile/1">
			<label for="usernme">Username</label>
			<input id="username" type="text" />

			<label for="password">Password</label>
			<input id="password" type="password" />
			
			<label for="newsletter"><input type="checkbox" /> Opt in to our newsletter</label>
			
			<input type="submit" value="Login" />
		</form>
	</div>
</div>
