<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie9 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie9 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie9 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"> <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>haggle.me</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/style.css?v1.0">
	</head>         

	<body>

		<header class="container">
			<div class="row">
				<div class="twelvecol">
					<h1>haggle.me</h1>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row">
				<div id="register">
					<div class="facebook fivecol">
						<a href="">Connect via Facebook</a>
					</div>
					<div class="twocol">
						<p>or</p>
					</div>
					<div class="new-user fivecol last">
						<form method="post" action="/type.html">
							<label for="email">Email</label>
							<input id="email" type="email" />
							<label for="password">Password</label>
							<input id="password" type="password" />
							<label for="confirm-password">Confirm password</label>
							<input id="confirm-password" type="password" />
							<label for="newsletter"><input type="checkbox" /> Opt in to our newsletter</label>
							<input type="submit" value="Sign up" />
						</form>
					</div>
				</div>
			</div>
		</section>

		<footer class="container">
			<div class="row">
				<div class="twelvecol">
					<p>haggle.me is brought to you by&hellip;</p>
				</div>
			</div>
		</footer>

	</body>

</html>

