<html>
  <head> 
    <title> Haggle.me </title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/haggle.js"></script>
  </head>
  <body>
    <h1> Welcome to haggle meeeeee </h1>
  <h2>
    <a href='/haggle'>Haggle Page</a> &nbsp; &nbsp;
    <a href='/register'>Sign Up</a>&nbsp; &nbsp;

    <a href='/user'>Profile</a>&nbsp; &nbsp;

    <a href='/sell'>Find Dealz</a>&nbsp; &nbsp;

  </h2>

  </br>
  </br>
  </br>
  </br>
    <input id='haggle-enter'></input>
    <button id='haggle-submit'>Submit Haggle</button>

</html>
