<!DOCTYPE html>
<html lang="en">
<head>
  <title>Haggle</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="twelvecol">
        <h1><a href="/" title="haggle.me">haggle.me</a></h1>
        <ul>
          <li><a href="/">Haggle</a></li>
        </ul>
      </div>
  </div>
</header>
<div class="container">
    <div id="content" class="row">
      <% if (pageTitle) { %><h1><%= pageTitle %></h1><% } %>
      <%- body %>
    </div>
</div>

<footer class="container">
  <p class="right"><a href="#top" title="Go to top" class="top">Top</a></p>
</footer>

</body>
</html>
