<!DOCTYPE html>
<html lang="en">
<head>
  <title>Haggle</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="twelvecol">
        <h1><a href="/" title="haggle.me"><img src="/img/haggleme.png" alt="Haggle.Me"/></a></h1>
        <p class="welcome">Welcome! <a href="/profile">Eran</a>
        <nav>
            <ul>
              <li><a href="/">My Haggle</a></li>
              <li><a href="/">Sell</a></li>
              <li><a href="/">Community</a></li>
              <li><a href="/">Customer Support</a></li>
            </ul>
        </nav>
      </div>
  </div>
</header>
<div class="container">
    <div id="content" class="row">
      <% if (pageTitle) { %><h1><%= pageTitle %></h1><% } %>
      <%- body %>
    </div>
</div>

<footer class="container">
  <div class="row">
    <div class="twelvecol">
      <p>Haggle.me is brought to you by&hellip;</p>
    </div>
  </div>
</footer>

</body>
</html>
