<div id="profile-card" class="twelvecol">
	<div class="cover">
		<img src="/img/eran-cover.jpg" class="cover-img" alt="iPhone 5 Store"/>
		<a href="#"><img src="/img/eran.jpg" alt=""/></a>
		<h2>John Doe</h2>
	</div>
</div>
<div id="items-list" class="list-view twelvecol">
	<a href="/create" class="button">Add an item to sell</a>
	<ul>
		<li>
			<img src="http://placebox.es/100/100" alt="">
			<h3>Product Name</h3>
			<a href="/create-item.html">Edit Item</a>
		</li>
		<li>
			<img src="http://placebox.es/100/100" alt="">
			<h3>Product Name</h3>
			<a href="/create-item.html">Edit Item</a>
		</li>
		<li>
			<img src="http://placebox.es/100/100" alt="">
			<h3>Product Name</h3>
			<a href="/create-item.html">Edit Item</a>
		</li>
		<li>
			<img src="http://placebox.es/100/100" alt="">
			<h3>Product Name</h3>
			<a href="/create-item.html">Edit Item</a>
		</li>
	</ul>
</div>