<div id="profile-card" class="twelvecol">
	<div class="cover">
		<img src="/img/eran-cover.jpg" class="cover-img" alt="iPhone 5 Store"/>
		<a class="avatar" href="#"><img src="/img/eran.jpg" alt=""/></a>
		<nav>
			<ul>
				<li><a href="/profile">Seller Info</a></li>
				<li class="current"><a href="/products">Products</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="block twelvecol">
	<h2>Products</h2>
	<div class="twelvecol">
		<a href="/create" class="button">Add a product</a>
	</div>
</div>