<div id="profile-card" class="twelvecol">
	<div class="cover">
		<img src="/img/eran-cover.jpg" class="cover-img" alt="iPhone 5 Store"/>
		<a class="avatar" href="#"><img src="/img/eran.jpg" alt=""/></a>
		<nav>
			<ul>
				<li class="current"><a href="/profile">Seller Info</a></li>
				<li><a href="/products">Products</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="block twelvecol">

	<h2>Seller: iPhone &ldquo;Baws&rdquo;</h2>
	<div class="feedback">
		<h3>Feedback on seller:</h3>
		<div class="fourcol">
			<p>Member since: Oct. 22, 2004<br/>
				Location: United States<br/>
				Views: 12558</p>
		</div>
		<div class="eightcol last">
			<img src="/img/feedback.jpg" alt=""/>
		</div>
	</div>
</div>

<div class="block twelvecol">

	<h2>About store:</h2>
	<h3>iPhone &ldquo;Baws&rdquo;</h3>
	<div class="twelvecol">
		<p>We’re an authorised dealer of stolen Apple iPhone 5 from the Halifax Mall. Don’t worry - no one else knows except for us. We’re really good at lifting things without damaging them - even super scratchable iPhone 5 handsets. If yours is scratched out the box, don’t worry - we’ll steal you a new one.</p>
		<p>For the past 15 years - customers have trusted us to sell them back the stuff we stole from 
them - it’s a world class recycling service.</p>
	</div>
</div>