<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie9 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie9 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie9 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="en"> <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>haggle.me</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/style.css?v1.0">
	</head>         

	<body>

		<header class="container">
			<div class="row">
				<div class="twelvecol">
					<h1>haggle.me</h1>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row">
				<div id="user-type" class="twelvecol">
					<label for="buyer"><input type="checkbox" id="buyer" value="buyer"/> Buyer</label>
					<label for="seller"><input type="checkbox" id="seller" value="seller"/> Seller</label>
					<button type="button" value="Finish Seller Profile" formaction="/seller-profile.html">Finish Seller Profile</button>
					<button  type="button" value="Finish Seller Profile" formaction="/haggle.html">Browse Products</button>
				</div>
			</div>
		</section>

		<footer class="container">
			<div class="row">
				<div class="twelvecol">
					<p>haggle.me is brought to you by&hellip;</p>
				</div>
			</div>
		</footer>

	</body>

</html>

